fastapi
uvicorn[standard]
sentence-transformers
transformers
torch
pytesseract
pdfplumber
python-docx
pdf2image
pillow
pinecone-client
requests
cachetools
fasttext
python-multipart
faiss-cpu
numpy
scipy
scikit-learn
scikit-image
scikit-learn-intelex
scikit-image-intelex
scikit-learn-intelex
pinecone
